<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.douzhan.bank.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.douzhan.bank.po.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pin_yin" property="pinYin" />
        <result column="gender" property="gender" />
        <result column="card_type" property="cardType" />
        <result column="card_num" property="cardNum" />
        <result column="card_start_date" property="cardStartDate" />
        <result column="card_exp_date" property="cardExpDate" />
        <result column="country" property="country" />
        <result column="region" property="region" />
        <result column="ethnicity" property="ethnicity" />
        <result column="profession" property="profession" />
        <result column="phone_number" property="phoneNumber" />
        <result column="organization" property="organization" />
        <result column="address" property="address" />
        <result column="marital_status" property="maritalStatus" />
        <result column="family_status" property="familyStatus" />
        <result column="personal_photo" property="personalPhoto" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
